body {
	background-color: #FFE57F;
}
button {
	background-color: #FFCA28;
	box-shadow: 1px 1px 1px #FFC107;
}
input,
textarea {
	background-color: #FFCA28;
	border: none;
	box-shadow: 1px 1px 1px #FFC107;
}
.panel,
#postbox {
	background-color: #FFC107;
	box-shadow: 5px 5px 5px #FFC107;
}
footer a {
	color: #FFC107;
}
