body {
	font-size: 1.2em;
	font-family: sans-serif;
}
h1 {
	font-family: serif;
}
a {
	text-decoration: none;
}
input, textarea {
	padding: 5px;
	margin: 5px;
}
button {
	margin: 5px;
	padding: 5px;
	font-size: 0.75em;
	border: none;
}
.container {
	max-width: 1080px;
	margin: auto;
}
.panel {
	background: lightgrey;
	margin: 20px;
	padding: 20px;
	transition: opacity 0.25s ease-in-out;
}
.panel img {
	max-width: 100%;
	max-height: 100vh;
	display: block;
	margin: 0 auto 10px;
}
#postbox {
	padding: 20px;
	overflow: hidden;
}
#postbox h3 {
	margin: 5px;
}
.postinfo label {
	margin: 5px;
	width: 100px;
	display: inline-block;
	vertical-align: top;
}
.postinfo input,
.postinfo textarea {
	width: 500px;
	max-width: 98%;
}
img.preview {
	max-width: 50%;
	max-height: 50vh;
}
#loading, #loadingLower {
	margin: 15px;
	text-align: center;
}

/* Colours */
.native body {
	background-color: #4E342E;
	color: #EEE;
}
.amber body {
	background-color: #FFE57F;
}
.native button {
	background-color: #BBDEFB;
	box-shadow: 1px 1px 1px #448AFF;
}
.amber button {
	background-color: #FFCA28;
	box-shadow: 1px 1px 1px #FFC107;
}
.native input,
.native textarea {
	background-color: #BBDEFB;
	border: none;
	box-shadow: 1px 1px 1px #448AFF;
}
.amber input,
.amber textarea {
	background-color: #FFCA28;
	border: none;
	box-shadow: 1px 1px 1px #FFC107;
}
.native .panel,
.native #postbox {
	background-color: #90CAF9;
	box-shadow: 5px 5px 5px #448AFF;
	color: #333;
}
.amber .panel,
.amber #postbox {
	background-color: #FFC107;
	box-shadow: 5px 5px 5px #FFC107;
}
.native footer a {
	color: #82B1FF;
}
.amber footer a {
	color: #FFE57F;
}
/* Helpers */
.right {
	float: right;
}
.smaller {
	font-size: 0.8em;
}
.muchsmaller {
	font-size: 0.6em;
}
.larger {
	font-size: 1.2em;
}
.transparent, .invisibile {
	opacity: 0;
}
.clearfix {
	clear: both;
}
.hidden {
	display: none;
}